<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    {{>header}}
    <h1>{{title}}</h1>
    <p>Country Location Codes to use : </p>
    <ul>
        <li>India : IN</li>
        <li>US : US</li>
    </ul>

    <form>
        <label>City</label>
        <input id="city" type="text">
        
        <label>Country</label>
        <input id="country" type="text">
        
        <button>Search</button>
    </form>

    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="wind-speed"></p>


    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>